.contact{
    color: $font-titulo;
}
.formato{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: .5rem 1rem;
    align-items: center;
    border-radius: .5rem;
}
.entrada{
    @include margen_input(.3rem)
}