.contact{
    color: $font-titulo;
}
.formato{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: 2rem 1rem;
    align-items: center;
    border: none;
    border-radius: .5rem;
    box-shadow: $sombra;
}
.pledge{
    padding: 1rem;
}
.entrada{
    @include margen_input(.3rem)
}