*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
main{
    background-color: $bg-main;
    min-height: 80vh;
}
header{
    background-color: $bg-nav;
}
.link_style{
    text-decoration: none;
}
.boton {
    background-color: $bg-nav;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}
.boton:hover{
    background-color: $font-sub;
    border: $borde;
}
.centrar{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    min-width: 80%;
    align-self: center;
}
.lema{
    font-size: 1.5rem;
    text-align: center;
    color: $font-sub;
    grid-area: lema;
    padding-top: 2rem;
}
@mixin margen_input($global) {
    margin: $global;
}
/*----------footer----------*/
footer{
    background-image: radial-gradient($font-titulo, $bg-nav);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 5px outset black;
}
.final {
    p{
        font-weight: 700;
        font-size: 1rem;
    }
    a{
        color: $font-blanco;
        font-size: .7rem;
        @extend .link_style;
    }
}
