.contact{
    color: $font-titulo;
}
.formato{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: .5rem 1rem;
    align-items: center;
}
.centro{
    padding: .5rem;
    text-align: center;
}